{% extends "healthcare_base.html" %}

{% load app_filters %}
{% load widget_tweaks %}

{% block content %}
<h1> Edit Permission </h1>

<div>
  <label>Note Title: {{ note.title }}</label>
</div>

<div>
  <label>Note Writen For: {{ note.patient_id | get_patient_full_name }}</label>
</div>

<div>
  {% for name in permission.username.all %}
     <label>Permission Given To: {{ name | get_full_name }}</label>
  {% endfor %}
</div>

<div>
  <label>Permission Given By: {{ permission.given_by | get_full_name }}</label>
</div>

<form action="{% url 'edit_healthcare_note_permission' healthcare_id=healthcare.id note_id=note.id perm_id=permission.id %}" method="post">
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}