{% extends "healthcare_base.html" %}

{% block content %}
<h1>Healthcare Dashboard</h1>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <a href="{% url 'show_all_patients' healthcare_id=healthcare.id %}">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Patients</h5>
            <p class="card-text">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-3">
      <a href="{% url 'show_all_healthcare_notes' healthcare_id=healthcare.id %}">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Patients' Notes</h5>
            <p class="card-text">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-3">
      <a href="#">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Settings</h5>
            <p class="card-text">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

{% endblock %}