{% extends "admin_base.html" %}

{% load app_filters %}

{% block content %}
<h1>All Healthcare</h1>

<table class="table text-center">
  <thead>
  <tr>
    <th scope="col">Full Name</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Last Login</th>
    <th scope="col">Date Joined</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {% for healthcare in healthcare %}
  <tr>
    <th scope="row">{{ healthcare.username | get_full_name }}</th>
    <th>{{ healthcare.username.username }}</th>
    <th>{{ healthcare.username.email }}</th>
    <th>{{ healthcare.username.last_login }}</th>
    <th>{{ healthcare.username.date_joined }}</th>
    <th><a href="{% url 'admin_show_healthcare' admin_id=admin.id healthcare_id=healthcare.id %}">More Details</a></th>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if healthcare.has_other_pages %}
  <ul class="pagination">
    {% if healthcare.has_previous %}
      <li><a href="?page={{ healthcare.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in healthcare.paginator.page_range %}
      {% if healthcare.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if healthcare.has_next %}
      <li><a href="?page={{ healthcare.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}