{% extends "admin_base.html" %}

{% block content %}
<h1>Patient: {{ patient.username.username }}</h1>

<table class="table text-center">
  <tr>
    <th>First Name</th>
    <th>{{ patient.username.first_name }}</th>
  </tr>
  <tr>
    <th>Last Name</th>
    <th>{{ patient.username.last_name }}</th>
  </tr>
  <tr>
    <th>Username</th>
    <th>{{ patient.username.username }}</th>
  </tr>
  <tr>
    <th>Email</th>
    <th>{{ patient.username.email }}</th>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <th>{{ patient.username.dob }}</th>
  </tr>
  <tr>
    <th>Address</th>
    <th>{{ patient.username.address }}</th>
  </tr>
  <tr>
    <th>Postal Code</th>
    <th>{{ patient.username.postalcode }}</th>
  </tr>
  <tr>
    <th>Contact Number</th>
    <th>{{ patient.username.contactnumber }}</th>
  </tr>
  <tr>
    <th>Last Login</th>
    <th>{{ patient.username.last_login }}</th>
  </tr>
  <tr>
    <th>Date Joined</th>
    <th>{{ patient.username.date_joined }}</th>
  </tr>
</table>

{% endblock %}