{% extends "base.html" %}

{% load app_filters %}

{% block content %}
<h1>{{ record.type }} Record</h1>

{% to_model_name record as to_record_model_name_result %}
<table class="table text-center">
  <tr>
    <th>Date</th>
    <th>{{ record.timestamp | get_date }}</th>
  </tr>
  <tr>
    <th>Time</th>
    <th>{{ record.timestamp | get_time }}</th>
  </tr>
  <tr>
    <th>Data</th>
    {% if to_record_model_name_result == 'Readings' %}
      <th>{{ record.data }}</th>
    {% else %}
      <th><a href="{{ record.id | get_record_path }}">View Data</a> | <a href="{% url 'download_protected_record' record_id=record.id %}">Download Data</a></th>
    {% endif %}
  </tr>
</table>

{% endblock %}