{% extends "base.html" %}

{% load app_filters %}
{% load widget_tweaks %}

{% block content %}
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Patient Interface</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'patient_dashboard' patient_id=patient.id %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Medical Records
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'show_all_records' patient_id=patient.id %}">View All Records</a>
          <a class="dropdown-item" href="#">Upload New Record</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Healthcare Professional Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end">
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'patient_logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    <div>
      <a class="navbar-brand">{{ patient.username.username }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
<!-- End NavBar -->

<h1> Edit Permission </h1>

<div>
  <label>Record Type: {{ record.type }}</label>
</div>

<div>
  <label>Record Data: {{ record.data }}</label>
</div>

<div>
  <label>Permission Given To: {{ permission.username.username | get_full_name }}</label>
</div>

<div>
  <label>Permission Given By: {{ permission.given_by | get_full_name }}</label>
</div>

<form action="{% url 'edit_permission' patient_id=patient.id record_id=record.id perm_id=permission.id %}" method="post">
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{% url 'show_record' patient_id=patient.id record_id=record.id %}"><button type="buton" class="btn btn-secondary">Back</button></a>
</form>

{% endblock %}