{% extends "base.html" %}

{% load app_filters %}

{% block content %}
<h1>{{ record.type }} Record</h1>

<table class="table text-center">
  <tr>
    <th>Date</th>
    <th>{{ record.timestamp | get_date }}</th>
  </tr>
  <tr>
    <th>Time</th>
    <th>{{ record.timestamp | get_time }}</th>
  </tr>
  <tr>
    <th>Data</th>
    <th>{{ record.data }}</th>
  </tr>
</table>

<h1>Permissions</h1>

<table class="table text-center">
  <thead>
  <tr>
    <th scope="col">Full Name</th>
    <th scope="col">Given By</th>
    <th scope="col">Given On</th>
    <th scope="col">Permission</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {% for perm in permissions %}
  <tr>
    <th scope="row">{{ perm.username.username | get_full_name }}</th>
    <th>{{ perm.given_by | get_full_name }}</th>
    <th>{{ perm.timestamp | get_datetime }}</th>
    <th>{{ perm.perm_value | get_perm }}</th>
    <th><a href="">Edit Permission</a></th>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}