{% extends "patient_base.html" %}

{% load app_filters %}

{% block content %}
<h1>{{ record.type }} Record</h1>

<table class="table text-center">
  <tr>
    <th>Date</th>
    <th>{{ record.timestamp | get_date }}</th>
  </tr>
  <tr>
    <th>Time</th>
    <th>{{ record.timestamp | get_time }}</th>
  </tr>
  <tr>
    <th>Data</th>
    <th>{{ record.data }}</th>
  </tr>
</table>

<h1>Permissions</h1>

<table class="table text-center">
  <thead>
  <tr>
    <th scope="col">Given To</th>
    <th scope="col">Given By</th>
    <th scope="col">Given On</th>
    <th scope="col">Permission</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {% for perm in permissions %}
  {% to_model_name perm as to_model_name_result %}
  <tr>
    <th scope="row">
      {% if to_model_name_result == 'DocumentsPerm' %}
        {% for name in perm.username.all %}
          {{ name | get_full_name }}
        {% endfor %}
      {% else %}
        {% for name in perm.username.all %}
          {{ name.username | get_full_name }}
        {% endfor %}
      {% endif %}
    </th>
    <th>{{ perm.given_by | get_full_name }}</th>
    <th>{{ perm.timestamp | get_datetime }}</th>
    <th>{{ perm.perm_value | get_perm }}</th>
    {% if to_model_name_result == 'ReadingsPerm' %}
      <th><a href="{% url 'edit_permission' patient_id=perm.readings_id.patient_id.id record_id=perm.readings_id.id perm_id=perm.id %}">Edit Permission</a></th>
    {% elif to_model_name_result == 'DocumentsPerm' %}
      <th><a href="{% url 'edit_permission' patient_id=perm.docs_id.patient_id.id record_id=perm.docs_id.id perm_id=perm.id %}">Edit Permission</a></th>
    {% elif to_model_name_result == 'TimeSeriesPerm' %}
      <th><a href="{% url 'edit_permission' patient_id=perm.timeseries_id.patient_id.id record_id=perm.timeseries_id.id perm_id=perm.id %}">Edit Permission</a></th>
    {% elif to_model_name_result == 'VideosPerm' %}
      <th><a href="{% url 'edit_permission' patient_id=perm.videos_id.patient_id.id record_id=perm.videos_id.id perm_id=perm.id %}">Edit Permission</a></th>
    {% elif to_model_name_result == 'ImagesPerm' %}
      <th><a href="{% url 'edit_permission' patient_id=perm.img_id.patient_id.id record_id=perm.img_id.id perm_id=perm.id %}">Edit Permission</a></th>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}