{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <a href="{% url 'patient_login' %}">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Patient Login</h5>
            <p class="card-text">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-3">
      <a href="{% url 'healthcare_login' %}">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Healthcare Professional Login</h5>
            <p class="card-text">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-3">
      <a href="/">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Researcher Login</h5>
            <p class="card-text">asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

{% endblock %}