{% extends "patient_base.html" %}

{% block content %}
<h1>Patient Account Information</h1>

<table class="table text-center">
  <tr>
    <th>First Name</th>
    <th>{{ user.first_name }}</th>
  </tr>
  <tr>
    <th>Last Name</th>
    <th>{{ user.last_name }}</th>
  </tr>
  <tr>
    <th>Username</th>
    <th>{{ user.username }}</th>
  </tr>
  <tr>
    <th>Email</th>
    <th>{{ user.email }}</th>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <th>{{ user.dob }}</th>
  </tr>
  <tr>
    <th>Address</th>
    <th>{{ user.address }}</th>
  </tr>
  <tr>
    <th>Postal Code</th>
    <th>{{ user.postalcode }}</th>
  </tr>
  <tr>
    <th>Contact Number</th>
    <th>{{ user.contactnumber }}</th>
  </tr>
  <tr>
    <th>Last Login</th>
    <th>{{ user.last_login }}</th>
  </tr>
  <tr>
    <th>Date Joined</th>
    <th>{{ user.date_joined }}</th>
  </tr>
</table>

<a href="{% url 'patient_edit_settings' patient_id=patient.id %}"><button type="button" class="btn btn-primary">Edit Information</button></a>
<a href="{% url 'patient_change_password' patient_id=patient.id %}"><button type="button" class="btn btn-secondary">Change Password</button></a>

{% endblock %}